
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">

    <title>Property Details | Mi Casa</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <!-- Custom Edits -->
    <link rel="stylesheet" href="/stylesheets/main.css">
  </head>

  <body>
  <!-- Start of navigation -->
    <nav class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">  
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Mi Casa</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <% if (!currentUser)  {%> 
              <li><a href="/register">Register</a></li>
              <li><a href="/login">Login</a></li>
            <% }else{ %>
              <li><a href="/logout">Logout</a></li>
              <li><a href="/show">Watch List</a></li>
              <li><a href="#">Hello <%= currentUser.firstName %></a></li>
            <% }%>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
   <!-- End of Navigation --> 

<div class="top-row">
  <div class="container">
    <div class="row">
    <div class="col-xs-12">
      <br>
      <br>
      <br>
      <h1>Property details</h1>
      <h4>Zestimate®: $<%= amount %>      
        <img src="http://www.zillow.com/widgets/GetVersionedResource.htm?path=/static/logos/Zillowlogo_150x40_rounded.gif" width="150" height="40" alt="Zillow Real Estate Search" />
      </h4>
      <h4>Square Footage: <%= sqft %> </h4>
      <h4>Bedrooms: <%= bedrooms %> </h4>
      <h4>Bathrooms: <%= bathrooms %> </h4>
      <h4>Year: <%= year %> </h4>
      <h4>Last Sold: <%= soldDate %> </h4>
      <h4>Last Price: $<%= soldPrice %> </h4> 

      <form action="/watchlist" method="post">
        <input style="display:none;" type="text" name="watchlist[street]" value="<%= params.address %>" />
        <% if (currentUser)  {%> 
        <button class="btn btn-lg btn-primary">SAVE TO WATCH LIST</button>
        <% }%>
      </form>
      <br>
    </div>
    </div>
  </div>
</div>

<div class="middle-row">
  <div class="container">
    <div class="col-xs-12">
      <div>
        <h2>Calculate Cash Flow</h2>
      </div>
      <div>
        <form class="cf" method="GET" action="/cashFlow">
          <h4>Estimated Income</h4>
            <h5><input type="text" name="rent">  Estimated Rent (per month)</h5>
          <h4>Mortgage Costs</h4>
            <h5><input type="text" name="principal">  Total Loan Amount</h5>
            <h5><input type="text" name="years">  Loan Term (in years)</h5>
            <h5><input type="text" name="interest">% Interest Rate</h5>
          <h4>Estimated Expenses</h4>
            <h5><input type="text" name="tax">  Property Tax (per year)</h5>
            <h5><input type="text" name="hoa">  HOA (per month)</h5>
            <h5><input type="text" name="insurance">  Insurance (per year)</h5>
            <div><h2><span class="result"></span></h2></div>
            <br>
          <button id="clicker" type="submit" class="btn btn-lg btn-primary">Calculate Cash Flow</button>
        </form>
        <br>
        <br>
        <br>
      </div>
    </div>
  </div>
</div> <!-- /container -->


  <!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="/javascripts/calculate.js" type="text/javascript" charset="utf-8"></script>
  </body>
</html>